h1 {
    font-size: 40px;
    padding: 5px;
    line-height:10px;
    margin-bottom:20px;
}
h2{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 1px;
}
h3{
    margin-top: 1px;
    font-size: 13px;
    padding: 5px;
    margin-bottom:1px;
}
table {
    border: 1px #a39485 solid;
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th,td {
    border: solid 1px #dddada;
    padding-top: 10px;
    padding-bottom: 10px;
}
th {
    background: #00AF6A;
    color: white;
}
tbody{
    font-size: 90%;
    background:#ffffff;
}
tr:nth-child(odd):hover td {
    background: #828282;
    color: #FFFFFF;
    font-weight: bold;
}
